html {
  position: relative;
  min-height: 100%;
}
body{
	padding-top: 79px;
	font-family: 'Lato', sans-serif;
	margin-bottom: 50px;
}
.page-header {
    margin: 0px 0 20px;
}
.h1, h1 {
    font-size: 29px;
}
.mb50{
	margin-bottom: 50px;
}
.col-center{
	margin: 0 auto;
	float: none;
}

.btn-white{
	background: #fff;
	border:1px solid #f7f7f7;
	color: #FC4225;
}
.btn-orange:hover{
	background: #f7f7f7;
	border:1px solid #f7f7f7;
	color: #FC4225;
}

.btn-orange{
	background: #FC4225;
	border:1px solid #F12E10;
	color: #fff;
}
.btn-orange:hover{
	background: #F12E10;
	border:1px solid #F12E10;
	color: #fff;
}

.btn-pink{
	background: #f26786;
	border:1px solid #e85677;
	color: #fff;
}
.btn-pink:hover{
	background: #e85677;
	border:1px solid #e85677;
	color: #fff;
}


.navbar-default{
	background: #FC4225;
	border: none;
	    height: 80px;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(252, 66, 37,1);
	-moz-box-shadow: 1px 1px 5px 0px rgba(252, 66, 37,1);
	box-shadow: 1px 1px 5px 0px rgba(252, 66, 37,1);
}
/*.navbar-default {
    background: #FC4225;
    border: none;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(252, 66, 37,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(252, 66, 37,1);
    box-shadow: 0px 0px 5px 1px rgba(252, 66, 37,1);
}*/
.navbar-brand{
	height: auto;
}
.navbar-nav.navbar-right{
}
.navbar-default .navbar-nav>li>a{
	border-bottom: 4px solid transparent;
	color: #fff;
	padding: 28px 11px;
	margin-right: 5px;
	font-family: 'PT Serif', serif;
	font-size: 15px;
	background-color: rgb(252, 66, 37);
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: rgb(252, 66, 37);
}
.navbar-default .navbar-nav>li:last-child>a{
	margin-right: 0;
}
@media (max-width: 767px)
{
		.navbar-nav .open .dropdown-menu {
	    position: static;
	    float: none;
	    width: auto;
	    margin-top: 0;
	    background-color: #51180F;
	    border: 0;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	    color: #333;
	    background-color: rgb(81, 24, 15);
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	    color: #fff;
	    background-color: rgb(81, 24, 15);
	}
}
/*.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background: #fff;
	color: #fff;
}*/
.dropdown-menu{
	background: #51180F;
	color: #fff;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border: none;
}

.navbar-nav.navbar-right:last-child{
	margin: 0;
}
.navbar-default .navbar-toggle {
    background: #dd2508;
    border-color: #dd2508;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background: #dd2508;
	border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}
.hold-menu{
	line-height: 67px;
}
.navbar-toggle{
	padding: 10px;
	margin-top: 15px;
}

.panel-default>.panel-heading{
	text-align: center;
	background: transparent;
}
.panel-heading{
	border-bottom: none;
}
.sc-body{
	font-family: 'Roboto', sans-serif;
}
.sc-heading{
	font-family: 'Graduate', cursive;
	font-size: 28px;
	position: relative;
}
.sc-heading:after{
	content:"";
	position: absolute;
	bottom: -15px;
	left: 0;
	height: 9px;

	width: 100%;
	
}

.bread{
	margin-top: 30px;
	margin-bottom: 10px;
}
#starter-wizzard{
	padding: 80px 0;
	position: relative;
	-webkit-box-shadow: inset 0px -1px 5px 0px rgba(102,102,102,1);
	-moz-box-shadow: inset 0px -1px 5px 0px rgba(102,102,102,1);
	box-shadow: inset 0px -1px 5px 0px rgba(102,102,102,1);

}
#starter-wizzard:after{
	/*background: #ffe7ec;*/
	opacity: .5;
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

#starter-wizzard .panel{
	margin-bottom: 0;
	z-index: 1;
	position: relative;
}

#starter-wizzard .panel-heading{
	padding-top: 25px;
	padding-bottom: 25px;
}
#starter-wizzard .sc-heading{
	margin: 0;
}
#starter-wizzard .panel-body{
	/*padding-top: 25px;*/
	padding-bottom: 25px;
}

#starter-wizzard .form{
	padding: 0 10px;
}
#starter-wizzard .form-control{
	font-size: 13px;
}


#starter-wizzard .form-inline .form-group:last-child{
	margin-right: 0;
}

#fav-product{
	padding: 30px 0;
}

.product-thumb{
	border:1px solid #ccc;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 40px;
}
.product-thumb>.product-detail{
	text-align: center;
	padding: 18px;
}
.product-thumb>.product-detail>h5, .product-thumb>.product-detail>.author{
	margin: 0 0 9px;
}
.product-thumb>.product-detail>h5{
	color: #0e819e;
	font-family: 'PT Serif', serif;
	font-size: 16px;
}
.product-thumb>.product-detail>h5>a{
	color: inherit;
}
.product-thumb img{
	transition: .1s all ease-in-out;
}
.product-thumb>.product-img:hover>img{
	opacity: .8;
}
.product-thumb>.product-detail>.author{
	color: #999999;
}
.product-thumb>.product-detail>.author>a{
	color: inherit;
}

#step{
	margin: 40px 0;
	border:1px solid #ccc;
	border-radius: 3px;
	overflow: hidden;
}


.step{
	position: relative;
	padding:12px 20px;
}

.step .counter{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	line-height: 40px;
	text-align: center;
	margin-right: 15px;
	background: #ffe7ec;
}
.step.active .counter{
	background: #f26786;
	
}
.step.active{
	background: #56b7ea;
	color: #fff;
}
.form-horizontal .control-label{
	text-align: left;
	font-weight: normal;
}

#btn-next-step{
	display: block;
	width: 100%;
}
.step-content{
	border: 1px solid #ccc;
	padding: 30px 0;
	border-radius:3px;
	margin-bottom: 40px;
}

.step-content #img-calendar{
	margin-top: 80px;

}



.content-step-info{
	float: none;
	margin: 0 auto;
}
footer{
	background: #f0f0f0;
	padding: 15px 0;
}
footer p{
	margin-bottom: 0;
}

.category-holder{
	margin-top: 40px;
}
.category{
	display: block;
	text-align: center;
	text-decoration: none;
	margin-bottom: 30px;
}
.category:hover{
	
	text-decoration: none;
}
.category.cat-active .cat-icon{
	background: #ddd;
}
.category:hover .cat-icon{
	background: #c9eafb;
}
.category:hover .cat-text{

	color: #f26786;
}
.cat-icon{
	margin: 0 auto;
	display: block;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	line-height: 100px;
	border: 1px solid #ddd;

}

.cat-icon span{
	display: inline-block;
	width: 40px;
	height: 38px;
	vertical-align: middle;
	background: url(../images/icon-camera.png) no-repeat center;
	background-size: contain;
}

.category.invitation .cat-icon span{
	background-image: url(../images/icon-envelope.png);
}
.category.microphone .cat-icon span{
	background-image: url(../images/icon-microphone.png);
}
.category.cake .cat-icon span{
	background-image: url(../images/icon-cake.png);
}
.category.gift .cat-icon span{
	background-image: url(../images/icon-gift.png);
}
.category.building .cat-icon span{
	background-image: url(../images/icon-building.png);
}
.category.music .cat-icon span{
	background-image: url(../images/icon-music.png);
}
.category.food .cat-icon span{
	background-image: url(../images/icon-food.png);
}
.category.makeup .cat-icon span{
	background-image: url(../images/icon-makeup.png);
}
.category.dress .cat-icon span{
	background-image: url(../images/icon-dress.png);
}
.category-holder-vertical{
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 20px;
	margin-bottom: 30px;
}
.category-vertical {
	list-style: none;
	margin:0;
	padding: 0;
	
}

.category-vertical .category{
	text-align: left;
	margin-bottom: 10px;
}
.category-vertical .category .cat-icon{
	  display: inline-block;
	  width: 60px;
	  height: 60px;
	  line-height: 50px;
	  text-align: center;
	  margin-right: 10px;
}
.category-vertical .category .cat-icon span{
	    width: 25px;
  		height: 25px;
}
.category-vertical .category .cat-text{
	display: inline;
}

.product-list{
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 20px;	
	margin-bottom: 20px;
}

.button-holder{
	margin-bottom: 30px;
}

.plan-summary span{
	display: block;
	font-weight: bold;
	font-family: 'PT Serif', serif;
	font-size: 15px;
}

.logo-holder{
	margin-top: 20px;
}
.product-gallery-wrapper{
	width: 80%;
	margin:0 auto 20px;
}

.product-gallery img{
	max-width: 100%;
}

.bx-wrapper {
  position: relative;
}

.bx-controls a {
  bottom: 0;
  color: #ffffff;
  font-size: 0;
  height: 52px;
  margin: auto;
  position: absolute;
  top: 0;
  width: 52px;
  z-index: 501;
  border-radius: 50%;
}

.bx-controls a.bx-prev {
  background: url(images/slider-prev-arrow-white.png) no-repeat scroll center center rgba(77, 77, 77, 0.7);
  left: 20px;
}
.bx-controls a.bx-next {
  background: url(images/slider-prev-arrow-white.png) no-repeat scroll center center rgba(77, 77, 77, 0.7);
  right: 20px;
}

#bx-pager{
	
  display: inline-block;
  margin: 30px 0px 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
}

#bx-pager a{
	  margin: 0px 10px 5px;
  padding: 3px;
  line-height: 0px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.detail-header{
	background: #FC4225;
	color: #fff;	
	padding: 16px 20px;
	position: relative;
	font-family: 'PT Serif', serif;
}
.detail-header:before{
	content:"";
	height: 1px;
	width: 100%;
	position: absolute;
	display: block;
	top: 8px;
	left: 0;
	border: 1px dashed #fff;
}
.detail-header:after{
	content:"";
	height: 1px;
	width: 100%;
	position: absolute;
	display: block;
	bottom: 8px;
	left: 0;
	border: 1px dashed #fff;
}

.vendor-detail{
	margin-bottom: 20px;
}
.vendor-info{
	list-style: none;
	padding: 0;
}
.vendor-info i{
	color: #E85677;
	margin-right:10px;
	width: 10px;
}

.profile-detail p{
	margin-bottom: 1em;
}
.profile-detail label{
	font-weight: normal;
	width: 150px;
}
.profile-detail span{
	font-weight: bold;	
}

.user-panel{
	padding: 20px; border: 1px solid #ddd;
	border-radius: 3px;
	margin-bottom: 30px;
}
.user-panel .menu{
	list-style: none;
	padding: 0;

}
.user-panel .menu li a{
	padding:10px;
	display: block;
	text-decoration: none;
}
.user-panel .menu li a:hover{
	background: #cbe5f2;	
}
.user-panel .menu li a i{ 
	color: #E85677;
	width: 20px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}

.inongSayang{
	font-family: 'Lobster', cursive;
}
.product-active{
	background: #ddd;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
	color: #fff;
	background: #51180F;
}

.logo-vendor{
	margin-top: 1em;display: block;
}
#chgavatar.dropzone{
	text-align: center;
}
#chgavatar.dropzone .dz-preview .dz-image{
	border-radius: 100%;
}
.galleria{ width: 700px; height: 400px; background: transparent; }
.form-gallery{
	display: inline-block;
}
.datepicker-dropdown.dropdown-menu{
	background: #fff;
	color: #000;
}

.dropzone .dz-preview .dz-error-message{
	top: 150px !important;
}

.parsley-errors-list{
	color: red;
	list-style: none;
	padding: 0;
	margin: 4px 0;
}
@media (min-width: 768px){
	.col-25{
		width: 20%;
	}

	#starter-wizzard .form-inline .form-group{
		margin-right: 8px;
	}
	#starter-wizzard .form-inline .input-group>.form-control{
		width:173px;
	}
	.navbar-default .navbar-nav>li:hover>a{
		color: #FFF;
		border-bottom-color:#FFF;
		background: transparent;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
		color: #FFF;
		border-bottom-color:#FFF;
		background: transparent;
	}
	#btn-next-step{
		display: inline-block;
		width: auto;
	}
	.content-step-info{
		float: left;
	}
}

@media (min-width: 992px){
	#starter-wizzard .panel-body{
		text-align: center;
	}
	#starter-wizzard .form{
		display: inline-block;
	}
	.navbar-default .navbar-nav>li>a{
		font-size: 17px;
	}
	.step{
		padding-left:45px;	
	}
	.step.first{
		padding-left:15px;	
	}
	.step:before, .step:after {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 32.5px 0 32.5px 31px;
		border-color: transparent transparent transparent #fff;
		position: absolute;
		right: -30px;
		top: 0;
		z-index: 1;
	}
	
	.step:before{
		border-color: transparent transparent transparent #ccc;
		right: -31px;
	}

	.step.active:after{
		border-color: transparent transparent transparent #56b7ea;
	}
	.step.last:after, .step.last:before{
		display: none;
	}
	#step .col-md-3{
		padding: 0;
	}
	#step .col-md-3:first-child{
		padding-left: 15px;
	}
	#step .col-md-3:last-child{
		padding-right: 15px;
	}

	#starter-wizzard .form-inline .form-group{
		margin-right: 8px;
	}


}

@media (min-width: 1200px){
	.step{
		padding-left:45px;
	}
	#starter-wizzard .form-inline .input-group>.form-control{
		width:100%;
	}
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #eee;
    border-color: #fff;
}